@import url('https://fonts.googleapis.com/css?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


:root{
    --background-color-primary: #e0e0e0;
    --background-color-secondary: #56638A;
    --background-color-tertiary: #B07156;
    --background-color-quaternary: #210F04;
    --text-color-primary: rgb(0, 0, 0);
    --header-font: "Permanent Marker", sans serif;
    --box-shadow-color: rgba(0, 0, 0, 0.649);
}

body{
    margin: 0;
    height: 3000px;
    background-color: var(--background-color-primary);

    overflow-x: hidden;
}

header{
    position: relative;
    z-index: 1001;
    width: 100%;
}

header div{
    width: 100%;
    height: 45vh;
    min-height: 20vh;
    background-color: var(--background-color-primary);
    text-align: center;
}

header div img{
    width: auto;
    height: 80%;
    margin-top: 1%; 
    
    /*transition: width 2s;*/
    
}

/*
body:hover header div img{
    width: 30px;
}
*/

nav{
    position: sticky;
    top: 0px; 
    width: 100%;
    height: 70px;

    background-image: url(images/snowing.gif);
    background-size: 24%;
    z-index: 1000;

    display: flex;
    justify-content: center;

    box-shadow: var(--box-shadow-color) 0px 0px 40px;
}

nav div{
    height: 95%;
    width: 99.2%;
    margin-top: auto;

    background-color: var(--background-color-primary);
    opacity: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.3%;
}

nav div a{
    width: 100%;
    height: 90%;
    background-color: whitesmoke;

    font-size: 2em;
    
    font-family: var(--header-font);    
    color: var(--text-color-primary);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.5s;
}

nav div a:first-child{
    margin-left: 0.5%;
}

nav div a:last-child{
    margin-right: 0.5%;
}

nav div a:nth-child(3){
    width: 180%;
}

nav div a:nth-child(3):hover{
    width: 200%;
}

nav div a:hover{
    background-color: white;
    width: 120%;
}

nav div a img{
    height: 77%;
}

#snowboarder{
    position: absolute;
    width: 17%;
    height: auto;

    margin-top: 10%;
    margin-left: 34%;
    animation-name: snowboarder-float;
    animation-duration: 6s;
    animation-iteration-count: infinite;

    z-index: -1;
}

#snowy_hill{
    position: relative;
    width: 100%;

    z-index: -2;
    border-bottom: solid var(--background-color-secondary) 10px;
}   

article{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 14%;

}

article div{
    float: right;
    width: 96%;
    height: 76%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    margin-right: -80%;
    margin-top: 15%;

    box-shadow: var(--box-shadow-color) 20px 20px 40px;
    background-color: var(--background-color-secondary);

    transition: margin-right 2s, scale 2s;
}

article img{
    position: absolute;
    right: 0;
    margin-top: 8%;
    margin-right: -60%;

    width: 480px;
   
    transition: margin-right 2s 0.5s;
}
 
article:hover div{
    margin-right: -8%;
}

article:hover img{
    margin-right: -6%;
}

#info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    height: 24%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28%;

    background-color: #B07156;
    padding: 1%;
}

.info-item{
    width: 32.5%;
    height: 49%;


    background-color: #e0e0e0;
    text-decoration: none;
    color: red;
}

.info-item:nth-child(2){
    align-self: stretch;
    height: auto;
}

@keyframes snowboarder-float {
    40% {margin-top: 12%;}
    50% {margin-left: 35%;}
    90% {margin-top: 10%;}
    100% {margin-left: 34%}
}

@media screen and (max-width: 900px) {
    
    nav div a:nth-child(3){
        width: 0px;
        visibility: collapse;
    }

    nav div{
        gap: 0%;
    }
}

@media screen and (max-width: 800px) {
    
    article img{
        visibility: collapse;
    }
}

@media screen and (max-width: 600px) {

    nav div a:last-child{
        width: 0px;
        visibility: collapse;
    }

    nav {
        height: 32vh;
    }

    nav div a{
        font-size: 16vh;
    }

}

@media screen and (max-width: 400px) {
    
    nav div a:first-child{
        width: 0px;
        visibility: collapse;
    }

}
